<!DOCTYPE html>
<html>
  <head>
    <title>UniversityNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%if student_signed_in? %>
        <li><%=link_to ' My network ', students_path %></li>
        <li><%=link_to ' My profile ', student_path(id: current_student.id) %></li>
        <li><%=link_to ' My projects ', projects_path(student_id: current_student.id) %></li>
        <li><%=link_to ' Sign out ', destroy_student_session_path, method: :delete, class: 'glyphicon glyphicon-log-out ' %></li>
     <%end %>
     <%if employer_signed_in? %>
        <li><%=link_to ' Students ', students_path %></li>
        <li><%=link_to ' Sign out ', destroy_employer_session_path, method: :delete, class: 'glyphicon glyphicon-log-out ' %></li>
     <%end %>
    <%= yield %>
  </body>
</html>
